doctype html
html
  head
    title NishanthDanceAcademy
    block scripts
    block style 
  body
    nav#navbar
        ul
            div#logo 
             img(src="/static/logo.jpg")
             |NDA
            li #[a(href = "/") Home]
            li #[a(href = "/") About]
            li #[a(href = "/contact") Contact Us]
            li #[a(href = "/") Class Info]
            li #[a(href = "/") Services ]    
    block content
    #footer
        |CopyRight 2020 © NishanthDanceAcademy | All rights reserved 