@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');

h1{
    text-align: center;
}

.myForm{
    display: flex;
    flex-direction: column;
    font-family: 'Pangolin', cursive;
    justify-content: center;
    align-items: center;
}

.myInput{
    width: 60%;
    padding: 10px;
    margin: 10px;
    border: 2px solid rgb(75, 5, 5);
    border-radius: 10px;
    outline: none;
}

.btn{
    padding: 7px 16px;
    width: 20%;
    margin: 20px;
    border: 2px solid red;
    border-radius: 10px;
    color: white;
    background-color: black;
    cursor: pointer;
    outline: none;
}
.btn:hover{
    background-color: rgb(36, 33, 33);
    color: white;
}
.container{
    font-family: 'Pangolin', cursive;
    min-height: 86vh;
}


@media only screen and (max-width: 1000px){
    .myInput{
        font-size: 4rem;
        padding: 45px 45px;
        height: 70px;
        margin: 20px;
        width: 96vw;
    }
    .myForm{
        position: absolute;
        top: 30%;
    }
    .container h1{
        left: 20%;
        top: 20%;
        position: absolute;
        font-size: 7rem;
        margin: 20px;
    }
    .btn{
        width: 60%;
        padding: 30px 16px;
        font-size: 3.7rem;
    }
    #footer{
        position: absolute;
        bottom: 0;
width: 100vw;
    }
}